.custom-box-shadow {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 24px #7a7f8c, -5px -5px 24px #ffffff;
    box-shadow: 5px 5px 24px #7a7f8c, -5px -5px 24px #ffffff;
}

.custom-animation {
    transition: text-color 1s ease-in-out, background-color 0.8s ease-in-out;
}

.custom-animation:hover {
    background-color: #F4BFBF;
    color: rgb(255, 255, 255);

}



.custom-animation:hover p {
    color: #272525;
    transition: 0.8s ease-in-out;
}

.custom-animation:hover h2 {
    color: #272525;
    transition: 0.8s ease-in-out;
}

.zom {
    transition: transform 1s ease-out, background-color 1s ease-out;
    /* transition: background-color 1s ease-out; */
}

.zom:hover {
    transform: scale(120%);
    /* transition: scale(120%) 1s ease-in-out; */
}