.custom-box-shadow {
    -webkit-border-radius: 16px;
    border-radius: 16px;
    -webkit-box-shadow: 26px 26px 39px #585b63, -26px -26px 39px #ffffff;
    box-shadow: 26px 26px 39px #585b63, -26px -26px 39px #ffffff;
}

.custom-animation:hover {
    background: rgb(56, 56, 166);
    color: rgb(255, 255, 255);
    transition: 1s ease-in-out;
}

.custom-animation:hover p {
    color: rgb(255, 255, 255);
}

.custom-animation:hover h2 {
    color: rgb(255, 255, 255);
}

.zom:hover {
    transform: scale(150%);
    background: rgb(66, 142, 243);
    transition: 1s ease-out;
}